### Transforming Data

In [1]:
# Importing Dependancy
import pandas as pd

In [2]:
df_raw = pd.read_csv('Output/OMDb_raw_df.csv')
df_raw.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Error
0,The Shawshank Redemption,1994.0,R,14 Oct 1994,142 min,Drama,Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,...,9.3,"2,217,195",tt0111161,movie,27 Jan 1998,NaN,Columbia Pictures,NaN,True,NaN
1,The Godfather,1972.0,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay by), Francis Ford Coppo...","Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,...,9.2,"1,532,092",tt0068646,movie,09 Oct 2001,NaN,Paramount Pictures,NaN,True,NaN
2,The Godfather: Part II,1974.0,R,18 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay by), Mario Pu...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,...,9.0,"1,072,495",tt0071562,movie,24 May 2005,NaN,Paramount Pictures,NaN,True,NaN
3,The Dark Knight,2008.0,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama, Thriller",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,...,9.0,"2,200,152",tt0468569,movie,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,NaN,True,NaN
4,12 Angry Men,1957.0,Approved,10 Apr 1957,96 min,Drama,Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,...,8.9,"650,851",tt0050083,movie,06 Mar 2001,NaN,Criterion Collection,NaN,True,NaN

In [3]:
df_raw.shape

(250, 26)

#### Deleting 5 rows for which no data was collected

In [4]:
# We need to remove these 5 rows for which data was not available on OMDb API
# df_error = df_raw.loc[df_raw['Error'].notna()]
# df_error

In [5]:
omdb_df = df_raw.loc[df_raw['Error'].isna()]
omdb_df.shape

(245, 26)

#### OMDb data frame now has 245 rows

In [6]:
df_actor = omdb_df[['imdbID', 'Actors']].copy()

#### Deleting 1 row with N/A in Actors column

In [7]:
df_actor = df_actor.dropna(how = 'any')

In [8]:
df_actor.shape

(244, 2)

### Converting the Actors column in 1NF

In [9]:
movie_actor_list = []

In [10]:
for index, row in df_actor.iterrows():

    all_actors = df_actor.loc[index,'Actors']
    actors_list = all_actors.split(', ')

    for actor in actors_list:
        
        movie_actor_dict = {}
        
        movie_actor_dict['imdb_id'] = df_actor.loc[index,'imdbID']
        movie_actor_dict['actor'] = actor
        
        movie_actor_list.append(movie_actor_dict)

In [11]:
movie_actor_df = pd.DataFrame(movie_actor_list)
movie_actor_df

       imdb_id            actor
0    tt0111161      Tim Robbins
1    tt0111161   Morgan Freeman
2    tt0111161       Bob Gunton
3    tt0111161   William Sadler
4    tt0068646    Marlon Brando
..         ...              ...
971  tt0094625     Tesshô Genda
972  tt0050613   Toshirô Mifune
973  tt0050613     Isuzu Yamada
974  tt0050613  Takashi Shimura
975  tt0050613       Akira Kubo

[976 rows x 2 columns]